* {
    /*Reset do css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*Rolagem da bagina suave*/
    scroll-behavior: smooth;
}

:root {
    /*:root representa o elemento <html>, configuração de cores que iremos utilizar  em futuras classes*/
    --primary-color: #222531; /*cor darkmode*/
    --secondary-color: FireBrick;/*cor do card adicionar e remover e titulos dos bugs*/
    --secondary-color-light: Wheat; /*cor do botao cancelar de adicionar hover*/
    --tertiary-color: DarkRed; /*cor botão ligth-mode de remoção de card*/
    --background-color: Tan; /*cor ligth-mode*/
    --filter: invert(30%) sepia(68%) saturate(1850%) hue-rotate(247deg) brightness(104%) contrast(91%);
}

body {
    /*defifimos a altura minima, cor de fundo, fonte e transição*/
    min-height: 100vh;
    background-color: var(--background-color);
    font-family: 'Helvetica', sans-serif;
    transition: all .5s ease;
}


/* ============ NAVIGATION ============ */


nav {/*tag nav dentro do header*/
    
    display: flex;/*display flex transforma os itens em flex itens*/
    justify-content: space-between; /*alinhamento com um espaço entre eles*/
    align-items: center;/*alinhar no centro*/
    padding: 2rem 2rem 1rem; /*define a distancia dos itens*/
    width: 100%; /*define a largura da área*/
    color: var(--primary-color);/*cor das letras*/
    background-color: var(--secondary-color-light);/*cor de fundo*/
    position: fixed; /*fica posicionado em relaçao a janela do navegador*/
    top: 0;/*permanecer em cima*/
    z-index: 1; /*se sobrepõe a outros elementos*/
    transition: all .5s ease; /*transição para criar efeitos e animaçoes*/
}

#logo {/*configuraçao da div logo*/
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-left: 6rem;
}

#logo img {/*configuraçao da imagem do logo*/
    height: 2rem;
    margin: 0 .25rem .5rem 0;
}

#logo img:hover {/*animaçao da imagem do logo com o hover quando o cursor do mouse está em cima*/
    animation: bounce .5s infinite;
}

#logo:hover {/*aplica um filtro definido para a div logo e transforma o cursor em uma maozinha*/
    filter: var(--filter);
    cursor: pointer;
}


label[for="toggle"] {/*nas tags label linkadas com o for é aplicado essa transição, ease config padrao de movimento*/
    transition: all 1s ease;
}

#nav-items {/*aplicamos essas configurações no nav-items e definimos uma margin a direita em 6rem, 1 rem -- 16px então 6rem = 96px*/
    display: flex;
    align-items: center;
    margin-right: 6rem;
}

#nav-items div {/*configuramos a div do nav-items alinhado no centro e com margin de 32px*/
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

#nav-items div:hover {/*filtro definido e cursor de maozinha*/
    filter: var(--filter);
    cursor: pointer;
}

#nav-items div img {/*margin da imagem dentro da div em 4px*/
    margin: .25rem;
}

#exit-btn:hover img{/*animaçao do botao de sair quando o cursor está em cima*/
    animation: bounceLateral .75s infinite ease;
}

/* ============ FORM MODAL ============ */

#form-modal {/*configuraçoes basicas ja explicadas acima aplicadas na div de inserção de bugs*/
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: rgba(34, 34, 34, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: all .5s ease;
}

#form {/*config do form*/
    margin: 2rem auto;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    min-height: 300px;
    border-radius: .5rem;
    background-color: var(--background-color);
}

#form-modal h1 {/*config do form na tag h1*/
    color: var(--primary-color);
    margin-bottom: 2rem;
}

#form-modal input {/*config das tags dentro da div*/
    background-color: var(--background-color);
    width: 100%;
    height: 2.5rem;
    border-radius: .5rem;
    margin-bottom: 1rem;;
    padding: 1.5rem .5rem 1rem;
}
#form-modal textarea {/*config das tags dentro da div*/
    background-color: var(--background-color);
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 1rem;;
    padding: 1.5rem .5rem 1rem;
}

#form label {/*config das tags dentro da div*/
    display: inline-block; /*os elementos não quebrao as linhas, permitindo um ficar ao lado da outra*/
    color: var(--background-color);
    background-color: var(--secondary-color);
    font-size: .75rem;
    border-radius: 1rem;
    padding: .2rem .5rem;
    position: relative;/*posiçao relacionada a si memsmo*/
    bottom: -.5rem; /*8px inferior, em relação ao label relative*/
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 2;
}

.modal-btn button{/*config dos botões*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--secondary-color);
    text-transform: uppercase; /*transforma em maiúsculo*/
    border: none;
    width: 8rem;
    height: 3rem;
    border-radius: .5rem;
    margin: 1rem;
    cursor: pointer;
    transition: all .25s;
};
/*config do botão cancelar*/
#btn-close-form {
    color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    background-color: var(--background-color);
}
/*animação nos botões*/
.modal-btn button:hover,
#btn-close-form:hover { 
    color: var(--secondary-color);
    background-color: var(--secondary-color-light);
    border: none;
    transform: scale(1.05);/*aumenta o tamanho do botão quando o mouse está em cima*/
}

/* ============ CARDS SECTION ============ */
main {/*config main*/
    width: 100%;
    min-height: 90vh; /*1vh é 9px altura. 1vw 7.5px largura*/
    margin: 0 auto;
    padding: 5rem 0 2rem;
}
section.cards {/*config section*/
    display: grid; /*o display grid posicionará nossos card em forma de grade*/
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 4rem 2rem; /*lacunas linhas e colunas*/
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 3rem;
}

/* ============ CARDS ============ */
.main-card { /*config dos cards*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    flex-direction: column; /*posicionamento dos cards na direção em decima para baixo*/
    height: 28rem;
    width: 17rem;
    max-width: 20rem;
    min-width: 260px;
    border-radius: .5rem;
    background-color: #ffffff50;
    box-shadow: 0px 0px 20px #00000025;
    position: relative;
    transition: all .25s ease;
}
.main-card:hover {/*config animação dos cards*/
    box-shadow: 0px 0px 0px .25rem #e45858;
}
.add-card {/*config animação do card de adicionar bug*/
    color: var(--primary-color);
    justify-content: center;
    border: 2px dotted var(--primary-color);
    cursor: pointer;
    transition: all .5s ease;
}
.add-card #add-card-title {/*config animação do card de adicionar bug*/
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
}
.add-card span {/*config animação do card de adicionar bug span +*/
    color: var(--background-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    font-size: 2.3rem;
    font-weight: 700;
    transition: all .5s ease;
}
.add-card::after {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -8px 0px 0px var(--secondary-color);
    border-radius: .5rem;
    position: absolute;
    bottom: 0;
}

.add-card:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
    transform: scale(0.98);
    box-shadow: 0px 0px 5px #ccc;
    box-shadow: inset 0px -4400px 0px 0px var(--secondary-color);
}

.add-card:hover #plus {
    color: var(--secondary-color);
    background-color: var(--background-color);
    transform: rotate(720deg) scale(1.1);
}

.card-image {
    height: 16rem;
    width: 100%;
    position: absolute;
    border-radius: .5rem .5rem 0 0;
    top: 0;
    overflow: hidden;
    transition: all .5s ease;
    cursor: pointer;
}

.main-card .title {
    color: var(--secondary-color);
    font-size: 1rem;
    text-decoration: underline;
    width: 100%;
    margin-top: 16rem;
    margin-bottom: .75rem;
}

.main-card .description {
    color: var(--primary-color);
    line-height: 1.2rem;
}

#counter-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -1rem;
}

#counter-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--primary-color);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin: -2rem .25rem 0 0;
    z-index: 1;
}

#counter {
    color: var(--primary-color);
    font-size: .5rem;
}

.description {
    overflow: auto;
}

#form input,
#form textarea {
    border: solid 1px var(--primary-color);
}

/* ============ BUTTON ============ */

.main-card:hover button {
    display: flex;
}

.main-card button {
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: .25rem 1rem;
    background-color: var(--tertiary-color);
    color: #ffffff70;
    cursor: pointer;
    position: absolute;
    bottom: -4%;
    transition: all .25s;
}

.main-card button:hover {
    color: #ffffff;
    transform: scale(1.4);
}


/* ============ DARK AND LIGHT MODE ============ */

input[id="toggle"] {
    display: none;
}

label[for="toggle"] {
    font-size: 2rem;
}


/* ============ FOOTER ============ */

footer {
    color: var(--secondary-color);
    display: grid;
    place-items: center ;
    width: 100%;
    padding: 1rem 1rem 2rem;
    text-align: center;
}


/* ============ ANIMATIONS ============ */

@keyframes bounce {
    0% { transform: rotate(0deg);}
    50% { transform: rotate(10deg);}
    100% { transform: rotate(-10deg);}
}

@keyframes bounceLateral {
    0% { transform: translateX(1px)}
    60% { transform: translateX(-2px);}
    100% { transform: translateX(1px);}
}

@keyframes modal{
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}

/* ============ Login-modal ============ */

.login-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.login-modal.mostrar{
    display: flex;
}

.mostrar .modal{
    animation: modal .5s;
}

.modal{
    background: var(--background-color);
    width: 50%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid var(--secondary-color-light);
    box-shadow: 0 0 0 10px var(--background-color);
    position: relative;
    border-radius: 0.01%;
}

.fechar{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: var(--secondary-color);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    font-size: 1rem;
}

.formLog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitulo{
    text-align: center; 
    padding: 2px;
    margin: 0 0 0 10px;
}
.inputLog{
    padding: 10px;
    margin: 10px 0px;
}

.button{
    padding: 10px;
    background: var(--secondary-color);
    color: white;
    border-radius: 10%;
}